

<div class="row">
<div class="small-12 columns">
    

<div class="small-9 columns">
<br>
<h4 align="center">About North India Steel Tubes</h4>
<p>North India Steel Tubes incorporated in the year 1985 has been awarded as a leading Distributor and Specialist Stockist for the largest range of Steel Tubes.North India having its Head Office at Hyderabad has steadily grown to become a premium dealer and stocks the best quality brands manufactured by the most reputed Manufacturers and leading Industrial houses in India.</p>
<p>We the management at North India dare to commit that we deliver the best quality products and have earned a commendable reputation for reliability and quality due to its adherence to uncompromising standards of quality. The objective is to delight customers at resonable prices.
</p><br>
<h4>Mission Statement</h4>
<p>We endeavour to reach the leadership position in each segment / sector of our Product / Service. We are comitted to satisfy our customers by providing such quality product / services, which gives highest value for money. We believe that employees are our most important asset through which we can reach the top in each category of our Product / Service. Therefore, we will emphasize on their continuous improvement through upgradation of relevant knowledge and training. We commit ourseleves to continuous growth, so as to fulfill the aspirations of our Customers, Employees and Suppliers.</p>
<p>We the management at North India dare to commit that we deliver the best quality products and have earned a commendable reputation for reliability and quality due to its adherence to uncompromising standards of quality. The objective is to delight customers at resonable prices. </p><br><br><br><br>

</div>



<div class="small-3 columns">
     <h5 align="center">Dealers For</h5><br>

   <marquee direction="up"> <a href=""><img src="/assets/jindal.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/maharashtra.jpg" width="100px" height="50px"></a>
    <br><br>   
    <a href=""><img src="/assets/jindal1.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/jindal2.jpg" width="100px" height="50px"></a>
    <br><br>
    <a href=""><img src="/assets/swasthik.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/topworth.jpg" width="100px" height="50px"></a>
    </marquee>
    <hr> 
   
   <a href=""><img src="/assets/mspipes.jpg" width="250px" height="500px"></a><br><br>
   <a href=""><img src="/assets/panel.jpg" width="250px" height="500px"></a><br><br>

    </div>



</div>

</div>






<style>

.row{
    background-color:none;
}
.small-3{
    border-left:solid #282828;
    border-left-width: 1px; 
   }

    p{
font-size:15px;
font-family: Arial,Helvetica,sans-serif;

font-weight:100;
text-indent: 100px;
   }
h4{
    font-size:22px;
    font-family: Arial, Helvetica, sans-serif;
    font-variant:small-caps;
    text-align:center;
    font-weight:300;
    font-family: bold;
    color:#ff6d00;
   }


</style>


