<div class="row">

<div class="small-12 columns">
<div class="small-3 columns">
     <h5 align="center">Dealers For</h5><br>

    <marquee direction="down"><a href=""><img src="/assets/jindal.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/maharashtra.jpg" width="100px" height="50px"></a>
    <br><br>   
    <a href=""><img src="/assets/jindal1.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/jindal2.jpg" width="100px" height="50px"></a>
    <br><br>
    <a href=""><img src="/assets/swasthik.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/topworth.jpg" width="100px" height="50px"></a></marquee>
    <hr> 
   
   <a href=""><img src="/assets/mspipes.jpg" width="200px" height="500px"></a><br><br>
   <a href=""><img src="/assets/panel.jpg" width="200px" height="500px"></a><br><br>
    </div>

    <div class="small-9 columns">
     <h4>Srivatsa Head Office and Branch Details</h4>
     <table width="700px">
<tr class="d1">
<th>Address</th>
<th>Contact Person</th>

</tr>
<tr class="">
    <td><b>M/s Srivatsa Agencies</b> <br>5-2-220/222,Plot No-2,1st Floor,<br> Sri Padmavathi Towers,<br> Hyderbasti,<br>
     Opposite Andhra Bank,Secunderabad-500003. </td>
    <td><b>Mr. Sudharsan Raghavachari </b><br> M.No - 09848012358 <br>
    Tel-040-64518615/27539135</td>
</tr>
<tr class="">
    <td><b>M/s Srivatsa Agencies</b><br>
15/207,BELLARY ROAD,<br>
KADAPA</td>
    <td><b>Mr. Madhu</b><br>
M.NO-09666697783</td>
</tr>
<tr class="">
    <td><b>M/s Srivatsa Agencies</b><br>
15/2485/A,PALAMANER ROAD,
CHITTOOR</td>
    <td><b>Mr. Suresh</b>
M.NO-09849407412"</td>
</tr>
<tr class="">
    <td><b>M/s Srivatsa Agencies</b><br>
3/48/D/1, Taluka Police Station,
TAadipatri,Ananthapur-515411</td>
    <td><b>Mr.Raghava</b><br>
M.NO-09440856400</td>
</tr>

</table>


<h4>North India Steel Tubes</h4>
 <table width="700px">
<tr class="d1">
<th>Address</th>
<th>Contact Person</th>

</tr>
<tr class="">
    <td><b>MS North India Steel Tubes</b><br>
317, Ispat Bhavan, 3rd Floor <br>
Distillery Road, Ranigunj.<br>
Secunderabad-500003 </td>
    <td><b>Mr. Arun Bansal</b> <br>
M.NO-09848015170</td>
</tr>
<tr class="">
    <td><b>MS North India Steel Tubes</b><br>
D NO- 76/18/119,<br> PLOT NO.119,<br> IRON COMPLEX, BHAVANIPURAM, <br>VIJAYWADA-520012</td>
    <td><b>Mr.Raju</b><br>
M.NO-9293555678</td>
</tr>

</table>

<h4>North India Ispat (P) Ltd.</h4>
<table width="700px">
<tr class="d1">
<th>Address</th>
<th>Contact Person</th>

</tr>
<tr class="">
    <td><b>North India Ispat (P) Ltd.</b><br>
PLOT NO. 42/PART,<br> SY NO. 258/1, 259<br>
Shapurnagar Main-Road,<br>
Jeedimetla,
Hyderabad-500055 </td>
    <td><b>Mr.Karan Bansal</b><br>
M.NO-09160160222<br>
Ph No. 040-65981222</td>
</tr>




</table>


    </div>


    </div>

</div>

<style>
.small-3{
    border-right:solid #282828;
    border-right-width: 1px; 
    width: 25%;
   }


   table, td, th{
    border-collapse: collapse;
    border:1px solid Black;
      }
      tr.d0 td {
          background-color: #CC9999; color: black;
      }
      tr.d1 td {
          background-color: #9999CC; color: black;
      }
      tr.d1 th{
          background-color: #9999CC; color: black;
      }


</style>