


<div class="row" style="background-color:none">
  <br>
  <div class="large-12 columns">
    <div class="large-3 columns this">
      <h5 align="center">Dealers For</h5>
      <br>
      <a href=""><img src="/assets/jindal.jpg" width="100px" height="50px"></a>
      <a href=""><img src="/assets/maharashtra.jpg" width="100px" height="50px"></a>
      <br><br>   
      <a href=""><img src="/assets/jindal1.jpg" width="100px" height="50px"></a>
      <a href=""><img src="/assets/jindal2.jpg" width="100px" height="50px"></a>
      <br><br>
      <a href=""><img src="/assets/swasthik.jpg" width="100px" height="50px"></a>
      <a href=""><img src="/assets/topworth.jpg" width="100px" height="50px"></a>
      <hr>
      <a href=""><img src="/assets/mspipes.jpg" width="250px" height="500px"></a><br><br>
      <a href=""><img src="/assets/panel.jpg" width="250px" height="500px"></a><br><br><br>
    </div>
    <div class="large-9 columns">
   
      <h4 align="center">Contact Partners</h4>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Mobile No</th>
                <th>Email Id</th>
                <th>Landline No</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Sudharshan Raghavachari </td>
                <td>+91 9391073407</td>
                <td>nistpipes@gmail.com</td>
                <td></td>
              </tr>
              <tr>
                <td>Arun Bansal </td>
                <td>+91 9848015170</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Pramod Bansal</td>
                <td>+91 9391007719</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>Krishna Kumar Kabra </td>
                <td>+91 9246532717</td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
  </div>
</div>
<style type="text/css">
  .this{
  border-right:solid #292929;
  border-right-width: 1px;
  }
  div.img {
  margin: 3px;
  padding: 3px;
  border: 1px solid #242424;
  height: auto;
  width: auto;
  float: left;
  text-align: center;
  }    
  div.img img {
  display: inline;
  width: 210px;
  height: 120px !important;
  margin: 3px;
  border: 1px solid #ffffff;
  }
  div.img a:hover img {
  border: 1px solid #242424;
  }
  div.desc {
  text-align: center;
  font-size: 14px;
  width: 200px;
  margin: 5px;
  }
</style>
<!-- <div align="center">
  <img src="http://www.ikns.edu.bh/iknsWeb/media/other/UnderConstruction1.png">
</div>
<br> -->