
<div class="row" style="background-color:#ffffff">
<br>
  <div class="large-12 columns">
 
<div class="large-9 columns">
<h5>Various Price list</h5>
<a href="#" data-reveal-id="myModal">Click Me For the Price List</a> 


<div id="myModal" class="reveal-modal" data-reveal style="height:200em"> 
  <h4>Price List For North India Steel Pipes</h4>

<iframe src="/assets/dmca.pdf" width="100%" height="100%">
 </iframe>

    <a class="close-reveal-modal">&#215;</a> 

</div>
 

<br>

<a href="#" data-reveal-id="myModal1">111 Price List</a> 


<div id="myModal1" class="reveal-modal" data-reveal style="height:200em"> 
  <h4>Price List For North India Steel Pipes</h4>

<iframe src="/assets/fb.png" width="100%" height="100%">
 </iframe>

    <a class="close-reveal-modal">&#215;</a> 

</div>












    <div class="img">
 <a target="_blank" href="/assets/jindal.jpg"><img src="/assets/jindal.jpg" alt="Klematis" width="200" height="90"></a>
 <div class="desc">Ductile Iron Pipes</div>
</div>
<div class="img">
 <a target="_blank" href="ms.jpg"><img src="/assets/desk.jpg" alt="Klematis" width="200" height="90"></a>
 <div class="desc">CR Tubes</div>
</div>
<div class="img">
 <a target="_blank" href="ms.jpg"><img src="/assets/desk1.jpg" alt="Klematis" width="200" height="90"></a>
 <div class="desc">Boiler Tubes</div>
</div>
<div class="img">
 <a target="_blank" href="klematis4_big.htm"><img src="/assets/desk2.jpg" alt="Klematis" width="200" height="90"></a>
 <div class="desc">Seamless Tubes</div>
</div>
 
 
<hr>
  


</div>

</div>


</div>

<style type="text/css">

.this{
    border-right:solid #292929;
    border-right-width: 1px;
   }



 div.img {
    margin: 3px;
    padding: 3px;
    border: 1px solid #242424;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
    background-color: #b7b7b7;
}    

div.img img {
    display: inline;
    margin: 3px;
    border: 1px solid #ffffff;
}

div.img a:hover img {
    border: 1px solid #242424;
}

div.desc {
  text-align: center;
  font-weight: normal;
  width: 200px;
  margin: 5px;
}
</style>