<div class="row" >
  <div class="large-12 columns" style="background-color:none">
    <br>
    <div class="large-3 columns">
      <h4>Welcome to North India Steel Tubes</h4>
      <p style="text-indent:40px"><font size="2">North India having its Head Office at Hyderabad has steadily grown to become a premium dealer and stocks the best quality brands manufactured by the most reputed Manufacturers and leading Industrial houses in India.</font></p>
    </div>
    <div class="large-9 columns">
      <ul class="example-orbit" data-orbit="" data-options="animation_speed:600;animation:fade; timer_speed:2000; resume_on_mouseout:1; pause_on_hover:1; bullets:0" class="orbit-slides-container" style="height: 0px;">
        <li>
          <img src="/assets/ms.jpg" alt="slide 1" class="cimage"/> 
          <div class="orbit-caption"> MS Pipes. </div>
        </li>
        <li class="active">
          <img src="/assets/mstube.jpg" alt="slide 2" class="cimage"/> 
          <div class="orbit-caption"> Galvanized Tubes. </div>
        </li>
        <li>
          <img src="/assets/galvanized.jpg" alt="slide 3" class="cimage"/> 
          <div class="orbit-caption"> Seamless Tubes. </div>
        </li>
        <li>
          <img src="/assets/desk.jpg" alt="slide 1" class="cimage"/> 
          <div class="orbit-caption"> Name </div>
        </li>
        <li>
          <img src="/assets/desk1.jpg" alt="slide 1" class="cimage"/> 
          <div class="orbit-caption"> Name </div>
        </li>
        <li>
          <img src="/assets/desk2.jpg" alt="slide 1" class="cimage"/> 
          <div class="orbit-caption"> Name </div>
        </li>
        <li>
          <img src="/assets/desk3.jpg" alt="slide 1" class="cimage"/> 
          <div class="orbit-caption"> Name </div>
        </li>
      </ul>
      <br>
    </div>
    <hr/>
  </div>
  <!--  </div>
    <div class="row"> -->
  <br>
  <div class="large-12 columns">
    <div class="large-4 columns change " >
      <h4>MS Steel Pipes.</h4>
      <table width="100%">
        <tr>
          <td align="center">
            Erw MS Black Tubes
          </td>
        </tr>
        <tr>
          <td>
            Spec: IS 1239,IS 3589,IS 1161
          </td>
        </tr>
        <tr>
          <td>
            Size : 15 mm to 500 mm
          </td>
        </tr>
        <tr>
          <td>
            Length : 6 Mtrs / 12 Mtrs
          </td>
        </tr>
        <tr>
          <td>
            Class : Light Medium & Heavy
          </td>
        </tr>
      </table>
      <a href="/welcome/products"><img align="center" src="/assets/ms.jpg" /></a>
      <br><br>
    </div>
    <div class="large-4 columns change ">
      <h4>Galvanized Tubes</h4>
      <table width="100%">
        <tr>
          <td align="center">
            Galvanised Tubes - GI
          </td>
        </tr>
        <tr>
          <td>
            Spec: IS 1239,IS 3589,IS 1161
          </td>
        </tr>
        <tr>
          <td>
            Size : 15 mm to 300 mm
          </td>
        </tr>
        <tr>
          <td>
            Length : 6 Mtrs / 12 Mtrs
          </td>
        </tr>
        <tr>
          <td>
            Class : Light Medium & Heavy
          </td>
        </tr>
      </table>
      <a href="/welcome/products"><img src="/assets/galva.jpg" /></a>
    </div>
    <div class="large-4 columns change ">
      <h4>Seamless Tubes.</h4>
      <table width="100%">
        <tr>
          <td align="center">
            Seamless Tubes
          </td>
        </tr>
        <tr>
          <td>
            Spec: ASTM 106 Gr.B
          </td>
        </tr>
        <tr>
          <td>
            Size : 15 mm to 350 mm
          </td>
        </tr>
        <tr>
          <td>
            Length : 6 Mtrs / 12 Mtrs
          </td>
        </tr>
        <tr>
          <td>
            Class : Sch.40,60,80,160
          </td>
        </tr>
      </table>
      <a href="/welcome/products"><img src="/assets/seamless1.jpg" /></a>
    </div>
  </div>
  <div class="large-12 columns">
    <div class="large-4 columns change ">
      <h4>Spiral Pipes</h4>
      <table width="100%">
        <tr>
          <td align="center">
            Spiral Pipes
          </td>
        </tr>
        <tr>
          <td>
            Spec: IS 3589
          </td>
        </tr>
        <tr>
          <td>
            Size : 600 mm to 2500 mm
          </td>
        </tr>
        <tr>
          <td>
            Length : 6 Mtrs / 12 Mtrs
          </td>
        </tr>
        <tr>
          <td>
            Class : 6 mm to 24 mm
          </td>
        </tr>
      </table>
      <a href="/welcome/products"><img src="/assets/spiral.jpg" /></a>
    </div>
    <div class="large-4 columns change ">
      <h4>CPVC Pipes</h4>
      <table width="100%">
        <tr>
          <td align="center">
            CPVC Pipes
          </td>
        </tr>
        <tr>
          <td>
            Spec: IS 1239,IS 3589,IS 1161
          </td>
        </tr>
        <tr>
          <td>
            Size : 15 mm to 500 mm
          </td>
        </tr>
        <tr>
          <td>
            Length : 6 Mtrs / 12 Mtrs
            <br>
          </td>
        </tr>
        <tr>
          <td>
            Class : Light Medium & Heavy
            <br>
          </td>
        </tr>
      </table>
      <a href="/welcome/products"><img src="/assets/cpvc.jpg" /></a>
    </div>
    <div class="large-4 columns change ">
      <h4>SHS & RHS</h4>
      <table width="100%">
        <tr>
          <td align="center">
            SHS & RHS
          </td>
        </tr>
        <tr>
          <td>
            Spec: IS 4923
          </td>
        </tr>
        <tr>
          <td>
            Size : 15X15 MM to 200 X 200mm
          </td>
        </tr>
        <tr>
          <td>
            Size : RHS 40 X 20  300 MM X 150 MM
          </td>
        </tr>
        <tr>
          <td>
            Class : 1.20 mm -- 6mm Thick
          </td>
        </tr>
      </table>
      <a href="/welcome/products"><img src="/assets/shsrhs.jpg" /></a>
    </div>
  </div>
  <hr>
</div>
<style type="text/css">
  .change p{
  font-size: 13px;
  text-indent:40px;
  }
  .change img{
    width: 306px;
    height: 210px;
  }
  .cimage{
  width:100%;
  max-height: 300px !important;
  }
  div.change a:hover img{
  border:10px solid #f4f2e9;
  }
  .orbit-bullets { display: none; }
  h4{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-variant:small-caps;
  text-align:center;
  font-weight:300;
  font-family: bold;
  color: #ff6d00;
  }
</style>