<div class="row">
  <br>
  <div class="large-12 columns">
    <div class="large-9 columns">
      <h4 align="center">Various Price list</h4>
      
      <div class="large-4 small-12 columns">
        <a href="#" data-reveal-id="myModal"><img src="http://www.betsymcnair.com/beyi/images/pdf_symbol.jpg"></a>
        <div class="hide-for-small panel">
          <h5 class="subheader"> <a href="#" data-reveal-id="myModal">API 5L GRADE</a> 
          </h5>
        </div>
      </div>
      
      <div class="large-4 small-12 columns">
        <a href="#" data-reveal-id="myModal1"><img src="http://www.betsymcnair.com/beyi/images/pdf_symbol.jpg"></a>
        <div class="hide-for-small panel">
          <h5 class="subheader"> <a href="#" data-reveal-id="myModal1">ASTM 106 GR CHART</a> 
          </h5>
        </div>
      </div>

      <div class="large-4 small-12 columns">
        <a href="#" data-reveal-id="myModal2"><img src="http://www.betsymcnair.com/beyi/images/pdf_symbol.jpg"></a>
        <div class="hide-for-small panel">
          <h5 class="subheader"> <a href="#" data-reveal-id="myModal2">ASTM IS 53 GR</a> 
          </h5>
        </div>
      </div>

      <div class="large-4 small-12 columns">
        <a href="#" data-reveal-id="myModal3"><img src="http://www.betsymcnair.com/beyi/images/pdf_symbol.jpg"></a>
        <div class="hide-for-small panel">
          <h5 class="subheader"> <a href="#" data-reveal-id="myModal3">IS 1239 CHART</a> 
          </h5>
        </div>
      </div>


      <div class="large-4 small-12 columns">
        <a href="#" data-reveal-id="myModal4"><img src="http://www.betsymcnair.com/beyi/images/pdf_symbol.jpg"></a>
        <div class="hide-for-small panel">
          <h5 class="subheader"> <a href="#" data-reveal-id="myModal4">IS 1978 GAS LINE PIPES CHART</a> 
          </h5>
        </div>
      </div>


      <div class="large-4 small-12 columns">
        <a href="#" data-reveal-id="myModal5"><img src="http://www.betsymcnair.com/beyi/images/pdf_symbol.jpg"></a>
        <div class="hide-for-small panel">
          <h5 class="subheader"> <a href="#" data-reveal-id="myModal5">IS 3589</a> 
          </h5>
        </div>
      </div>


      
      <div id="myModal" class="reveal-modal" data-reveal style="height:75em">
        <h4>One</h4>
        <iframe src="/assets/pdf/one.pdf" width="100%" height="80%">
        </iframe>
        <a class="close-reveal-modal">&#215;</a> 
      </div>
      
      <div id="myModal1" class="reveal-modal" data-reveal style="height:75em">
        <h4>Two</h4>
        <iframe src="/assets/pdf/three.pdf" width="100%" height="80%">
        </iframe>
        <a class="close-reveal-modal">&#215;</a> 
      </div>
      
      <div id="myModal2" class="reveal-modal" data-reveal style="height:75em">
        <h4>Three</h4>
        <iframe src="/assets/pdf/four.pdf" width="100%" height="80%">
        </iframe>
        <a class="close-reveal-modal">&#215;</a> 
      </div>
      
      <div id="myModal3" class="reveal-modal" data-reveal style="height:75em">
        <h4>four</h4>
        <iframe src="/assets/pdf/five.pdf" width="100%" height="80%">
        </iframe>
        <a class="close-reveal-modal">&#215;</a> 
      </div>
      
      <div id="myModal4" class="reveal-modal" data-reveal style="height:75em">
        <h4>five</h4>
        <iframe src="/assets/pdf/six.pdf" width="100%" height="80%">
        </iframe>
        <a class="close-reveal-modal">&#215;</a> 
      </div>
      
      <div id="myModal5" class="reveal-modal" data-reveal style="height:75em">
        <h4>six</h4>
        <iframe src="/assets/pdf/thirteen.pdf" width="100%" height="80%">
        </iframe>
        <a class="close-reveal-modal">&#215;</a> 
      </div>
    </div>
    <div class="large-3 columns decrease">
      <br>
      <h5 style="color:#ff6d00">Our Products Range</h5>
      <p>Jindal India Limited</p>
      <p>Jindal Industries India Limited</p>
      <p>Jindal Pipes Limited</p>
      <p>Maharashtra Seamless Limited</p>
      <p>Jindal Saw Limited</p>
      <p>Bhushan Steel Limited</p>
      <p>Vallabh Steel Limited</p>
      <p>Asian Steel tubes</p>
      <br>
      <h5 align="center">Dealers For</h5>
      <br>
      <a href=""><img src="/assets/jindal.jpg" width="100px" height="50px"></a>
      <a href=""><img src="/assets/maharashtra.jpg" width="100px" height="50px"></a>
      <br><br>   
      <a href=""><img src="/assets/jindal1.jpg" width="100px" height="50px"></a>
      <a href=""><img src="/assets/jindal2.jpg" width="100px" height="50px"></a>
      <br><br>
      <a href=""><img src="/assets/swasthik.jpg" width="100px" height="50px"></a>
      <a href=""><img src="/assets/topworth.jpg" width="100px" height="50px"></a>
      <hr>
      <br>
      <a href=""><img src="/assets/panel.jpg" width="250px" height="500px"></a><br><br>
      <a href=""><img src="/assets/mspipes.jpg" width="250px" height="500px"></a>
      <br><br>
    </div>
  </div>
</div>
<style type="text/css">

  .decrease{
  border-left:solid #282828;
  border-left-width: 1px;
  }
  table
  {
  border-collapse:collapse;
  width: 100%;  
  border:1; 
  border-color:#808080; 
  text-align: center; 
  cellpadding="5"
  cellspacing="1"
  }
  .decrease p{
  font-size: 12px;
  }
  .toplinks {
  color:#ffffff;
  }
  .a1 td{
  background-color: #f8f8f8;
  }
  .a2 td{
  background-color: #eeeeee;
  }
  h5{
    font-size: 14px;
  }
</style>