
<div class="row" style="background-color:none">
<br>


<div class="small-12 columns">


    <div class="small-3 columns change">
     <h5 align="center">Dealers For</h5><br>

    <a href=""><img src="/assets/jindal.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/maharashtra.jpg" width="100px" height="50px"></a>
    <br><br>   
    <a href=""><img src="/assets/jindal1.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/jindal2.jpg" width="100px" height="50px"></a>
    <br><br>
    <a href=""><img src="/assets/swasthik.jpg" width="100px" height="50px"></a>
    <a href=""><img src="/assets/topworth.jpg" width="100px" height="50px"></a>
    <hr>
   
   <a href=""><img src="/assets/mspipes.jpg" width="250px" height="500px"></a><br><br>
   <a href=""><img src="/assets/panel.jpg" width="250px" height="500px"></a><br><br><br>

    </div>

    <div class="small-9 columns change1">

  <h5 align="center">Our Products Range</h5>


    

<table width="700px">
<tr class="d1">
<th>Size Range</th>
<th>Inches</th>
<th>Type</th>
</tr>
<tr class="">
    <td>15 mm NB to 600 mm NB</td>
    <td>1/2" to 24"</td>
    <td><b>ERW MS Black Tubes/Pipes</b></td>
</tr>
<tr class="">
    <td>15 mm NB to 300 mm NB</td>
    <td>1/2" to 12"</td>
    <td><b>GI Tubes/Pipes</b></td>
</tr>
<tr class="">
    <td>15 mm NB to 500 mm NB</td>
    <td>1/2" to 20"</td>
    <td><b>Seamless Tubes</b></td>
</tr>
<tr class="">
    <td>100 mm to 1000 mm</td>
    <td>K7 & K9</td>
    <td><b>Ductile Iron Pipes</b></td>
</tr>
<tr class="">
    <td>600 mm NB to 1600 mm</td>
    <td>24" to 64"</td>
    <td><b>Spiral Pipes</b></td>
</tr>
<tr class="">
    <td>15 mm NB to 300 mm NB</td>
    <td>1/2" to 12"</td>
    <td><b>Square & Rectangular</b></td>
</tr>
<tr class="">
    <td>15 mm NB to 300 mm</td>
    <td>1/2" to 2"</td>
    <td><b>CPVC Pipes 'Aerocon Birla'</b></td>
</tr>
</table>

<table  width="700px">
    <tr class="products d1">
    <th colspan="3">Products Range:</th>
    </tr>
    <tr>
        <td>MS ERW TUBES</td>
        <td>GI PIPES</td>
        <td>SEAMLESS TUBES</td>
    </tr>
    <tr>
        <td>SQUARE HOLLOW SECTIONS</td>
        <td>COLD DRAWN TUBES</td>
        <td>BOIER TUBES</td>
    </tr>
    <tr>
        <td>RECTANGULAR HOLLOW SECTIONS</td>
        <td>COLD ROLLED TUBES</td>
        <td>HEAT EXCHANGER TUBES</td>
    </tr>
    <tr>
        <td>DUCTILE IRON PIPES</td>
        <td>AIR PRE HEATER TUBES</td>
        <td>OXYGEN LANCING TUBES</td>
    </tr>
</table>
<table width="700px">
    <tr class="d1">
        <th colspan="3">Specification</th>
    </tr>
    <tr>
        <td>IS 1239: Air Water Steam</td>
        <td>IS 3601:Mechanical & General Engineering</td>
        <td>IS 3074:Automobiles Applications</td>
    </tr>
    <tr>
        <td>IS 3589:Wate, gas and Sewerage</td>
        <td>IS 9295:Idlers & Conveyors</td>
        <td>BS 3059:Boiler Applications</td>
    </tr>
    <tr>
        <td>IS 4270:Water Wells(casing pipes)</td>
        <td>IS 1978:Line Pipes for oil & Natural Gas</td>
        <td>IS 4953:Square & Rectangular Hollow Sections</td>
    </tr>
    <tr>
        <td>IS 1161:Structural Purpose</td>
        <td>ASTM  106GrB-High Pressuren Lines</td>
        <td>BS 6323:Air Pre Heater Tubes</td>
    </tr>
</table>
<table width="700px">
    <tr class="d1">
        <th colspan="3">Application</th>
    </tr>
    <tr>
        <td>Concealed Piping</td>
        <td>Fire Fighting System</td>
        <td>Power Projects</td>
    </tr>
    <tr>
        <td>Construction nd Scaffolding</td>
        <td>Cold Storage</td>
        <td>Agriculture & Irrigation</td>
    </tr>
    <tr>
        <td>Structural Purposes</td>
        <td>Oil & Gas</td>
        <td>General Engineering</td>
    </tr>
    <tr>
        <td>HVAC Purposes</td>
        <td>Plumbing</td>
        <td>Pharma Industries</td>
    </tr>
</table>

    </div>
    <br>
</div>

</div>


<style type="text/css">

.change1{
    border-left:solid #282828;
    border-width: 1px;
   }


table, td, th{
    border-collapse: collapse;
    border:1px solid Black;
}
tr.d0 td {
    background-color: #CC9999; color: black;
}
tr.d1 td {
    background-color: #9999CC; color: black;
}
tr.d1 th{
    background-color: #9999CC; color: black;
}



  

</style>
